$link-color: #606C38;
$btn-primary-color: #BC6C25;
$base-button-color: #FEFAE0;

$body-background-color: #ffffff; 
$sidebar-color: #283618; 
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #FEFAE0;
$feedback-color: #FEFAE0;

$body-text-color: #283618;
$body-heading-color: #283618;
$search-result-preview-color: #606C38;


$nav-child-link-color: #FEFAE0; 
$nav-list-item-active-color: #DDA15E; 
$nav-list-expander-color: #FEFAE0;
$sidebar-active-color: #DDA15E;


$nav-child-link-color: #FEFAE0;
$nav-text-color: #FEFAE0; 


$border-color: #DDA15E;
$table-border-color: #DDA15E;


$btn-primary-color: #BC6C25;


$link-color: #606C38;
$link-color-hover: #BC6C25;


$sidebar-color: #283618;
$sidebar-text-color: #FEFAE0;
$sidebar-heading-color: #FEFAE0;