$link-color: #606C38;
$btn-primary-color: #606C38;
$base-button-color: #FEFAE0;

$body-background-color: #ffffff; // Keeping main text body background white as requested
$sidebar-color: #FEFAE0;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #FEFAE0;
$feedback-color: #FEFAE0;

$body-text-color: #283618;
$body-heading-color: #283618;
$search-result-preview-color: #606C38;
$nav-child-link-color: #606C38;

$border-color: #DDA15E;
$table-border-color: #DDA15E;
$base-button-color: #FEFAE0;
$search-background-color: #FEFAE0;
$feedback-color: #FEFAE0;
$table-row-even-background-color: #FEFAE0;

$btn-primary-color: #BC6C25;
$link-color-hover: #BC6C25;
$nav-list-item-active-color: #BC6C25;
$nav-list-expander-active-color: #BC6C25;
$sidebar-active-color: #BC6C25;

$search-result-highlight-color: #DDA15E;

$scrollbar-color: #DDA15E;