$link-color: #588157;
$btn-primary-color: #3a5a40;
$base-button-color: #dad7cd;

$body-background-color: #ffffff;
$sidebar-color: #344e41;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #dad7cd;
$feedback-color: #dad7cd;

$body-text-color: #344e41;
$body-heading-color: #3a5a40;
$search-result-preview-color: #588157;

$nav-child-link-color: #dad7cd;
$nav-list-item-active-color: #a3b18a;
$nav-list-expander-color: #dad7cd;
$sidebar-active-color: #a3b18a;

$sidebar-text-color: #dad7cd;
$sidebar-heading-color: #dad7cd;

$border-color: #a3b18a;
$table-border-color: #a3b18a;

$btn-primary-color: #3a5a40;

$link-color: #588157;
$link-color-hover: #3a5a40;