---
---

@import "./vendor/just-the-docs/css/just-the-docs";

:root {
  --link-color: #606C38;
  --btn-primary-color: #BC6C25;
  --base-button-color: #FEFAE0;
  
  --body-background-color: #ffffff;
  --sidebar-color: #FEFAE0;
  --search-background-color: #ffffff;
  --table-background-color: #ffffff;
  --code-background-color: #FEFAE0;
  --feedback-color: #FEFAE0;
  
  --body-text-color: #283618;
  --body-heading-color: #283618;
  --search-result-preview-color: #606C38;
  --nav-child-link-color: #606C38;
  
  --border-color: #DDA15E;
  --table-border-color: #DDA15E;
}